.tile {
    position: relative;
    width: 60px;
    height: 60px;
}

.tile:has(input:focus) {
    z-index: 2;
}

.tile-input {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    
    background-color: #00000000;
    
    display: flex;
    justify-content: center;
    place-items: center;
    
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 37px;
    font-weight: 500;
    
    cursor: default;
    caret-color: #00000000;

    z-index: 1; 
}

.in-impact input {
    background-color: #ffe7cc;
}

.highlighted input {
    background-color: #ffc480;
}

.tile-input:focus,
.focused input {
    outline-color: #805000;
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -2px;
    background-color: #ff8c00;
}

.tile::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #80ff80;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: multiply;
}

.tile.solved::after {
    animation-name: green-pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out both;
    animation-delay: var(--delay);
    /*animation-iteration-count: 3;*/
}

@keyframes green-pulse {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.upper-left input {
    border-top-width: 2px;
    border-left-width: 2px;
}

.upper input {
    border-top-width: 2px;
}

.upper-right input {
    border-top-width: 2px;
    border-right-width: 2px;
}

.left input {
    border-left-width: 2px;
}

.center input {
    border-width: 1px;
}

.right input {
    border-right-width: 2px;
}

.lower-left input {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.lower input {
    border-bottom-width: 2px;
}

.lower-right input {
    border-bottom-width: 2px;
    border-right-width: 2px;
}


.notes {
    position: absolute;

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    pointer-events: none;
    z-index: 3;
}

.notes div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
}

.active-note {
    color: #000000;
}

.active-note.highlighted {
    color: #ff8c00;
    font-weight: 600;
}

.focused .active-note.highlighted {
    color: #ffe7cc;
    font-weight: 600;
}

.inactive-note {
    color: #00000000;
}

